apiVersion: batch/v1beta1
kind: CronJob
metadata:
  name: {{ app_name }}
spec:
  schedule: "*/1 * * * *"
  failedJobsHistoryLimit: 5
  successfulJobsHistoryLimit: 3
  startingDeadlineSeconds: 100
  concurrencyPolicy: Replace
  jobTemplate:
    spec:
      # backoffLimit: 5
      parallelism: 1
      completions: 1
      template:
        spec:
          serviceAccountName: {{ app_name }}
          containers:
          - name: {{ app_name }}
            image: {{ cronjob.image_repo }}/{{ app_name }}:latest
            args: ["multi-ping/demo.py"]
            imagePullPolicy: IfNotPresent
            resources:
              limits:
                memory: 250Mi
                cpu: 100m
              requests:
                memory: 250Mi
                cpu: 100m
            env:
            - name: ENV
              valueFrom:
                configMapKeyRef:
                  name: {{ app_name }}
                  key: env
            - name: SLACK_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ app_name }}
                  key: slack_token
            volumeMounts:
            - mountPath: "/srv/shared/secrets"
              name: secrets
            #- mountPath: "/srv/app/kube-calendar-autoscaler/config/token.pickle"
             # name: calendar-api
              #subPath: token.pickle
          volumes:
          - name: secrets
            secret:
              secretName: {{ app_name }}
          #- name: multi-ping
           # secret:
            #  secretName: multi-ping-credentials
          restartPolicy: Never
